<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="parent" fxLayoutWrap fxLayoutAlign="center">
    <div fxFlex="50%" class="block">Left</div>
    <div fxFlex="50%" class="block">Right</div>
  </div>

  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="parent" fxLayoutWrap fxLayoutAlign="center">
    
    <div fxFlex class="block">Full width</div>
  </div>

  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="parent" fxLayoutWrap fxLayoutAlign="center">
    <div fxFlex="50%" class="block">Left</div>
    <div fxFlex="50%" class="block">Right</div>
  </div>

  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="parent" fxLayoutWrap fxLayoutAlign="center">
    
    <div fxFlex class="block">
        
    </div>
  </div>

  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="parent" fxLayoutWrap fxLayoutAlign="center">
    <div fxFlex="50%" class="block">Left</div>
    <div fxFlex="50%" class="block">Right</div>
  </div>