<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()" novalidate>
      <mat-card-header>
        <mat-card-title>Reset password</mat-card-title>
      </mat-card-header>
      <ng-container *ngIf="!forgotPasswordSuccess">
        <mat-card-content fxLayout="column">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Enter your email"
              formControlName="email"
            />
          </mat-form-field>

          <ng-container *ngIf="forgotPasswordError">
            <div style='color:red'>
              {{forgotPasswordErrMsg}}
            </div>
          </ng-container>

        </mat-card-content>
        <mat-card-footer>
          <mat-card-actions align="center">
            <button
              style="width: 75%"
              [disabled]="!passwordResetForm.valid"
              mat-raised-button
              color="primary"
              mat-button
            >
              Reset Password
            </button>
          </mat-card-actions>
        </mat-card-footer>
      </ng-container>

      <ng-container *ngIf="forgotPasswordSuccess">
      <mat-card-content fxLayout="column">
        <p>An email has been sent to reset your password</p>
      </mat-card-content>
    </ng-container>
    </form>
  </mat-card>
</div>
